<html>
    <head>
        <title>My Project
            </title>
            <link rel="stylesheet" href=" /assets/css/style.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
            <style>
                body
                {
                    background-image: url(' /assets/images/about-content-bg.jpg');
                    background-repeat: no-repeat;
                    background-attachment: fixed;
                    
                    background-size: cover;
                }
                .footer1
                {
                    background-image: url(' /assets/images/p1.jpg');
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position-y: 72%;
                    background-blend-mode: color-dodge;
                    filter: brightness(86%);
                    background-color: rgb(40, 155, 155);
                }
            
                header
                {
                    width: 5025px;
                   
                }
                footer
                {
                    width: 5027px;
                }
            </style>
        </head>
        <body>
            <div class="container">
                <header>

            <div class="logo">
                    <img src=" /assets/images/logo.png" height="200px" width="700px">
            </div>
                <div class="menu">
                <ul>
                    <li><a href=" /assets/template/index.html">Home</a></li>
                    <li><hr width="100px"><a href=" /assets/template/about.html">About</a></li>
                    <li><a href=" /assets/template/deals.html">Deals</a></li>
                    <li><a href=" /assets/template/reservation.html">Reservation</a></li>
                    <li><a href=" /assets/template/reservation.html">Book Yours</a></li>
                    </ul>
                </div>
                </header>
                <aside class="mainbox">
                <div class="blurbox">
                    <div class="content">
                        <h6 style="font-size: 90px;">EXPLORE OUR COUNTRY</h6>
                        <div class="line"><hr></div>
                       
                        <h1 style="font-size: 180px;">Welcome To Caribbean</h1>
<p style="font-size: 80px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
    uttersi labore et dolore magna aliqua is ipsum suspendisse ultrices gravida</p>


    <a href="#">Discover More</a>
                    </div>
                    </div>
                </aside>


                <div class="aboutcity">
                    <section class="cities-town">
                        <div class="writting"><h2>Caribbean's <span>Cities & Towns</span></h2>
                            </div>
                            <div class="fourimage">
                                <div class="img1"><img src="https://templatemo.com/templates/templatemo_580_woox_travel/assets/images/cities-02.jpg"><h5>Kingston</h5>
                                    </div>
                                <div class="img2"><img src="https://templatemo.com/templates/templatemo_580_woox_travel/assets/images/cities-03.jpg"><h5>George Town</h5>
                                    </div>
                                <div class="img3"><img src="https://templatemo.com/templates/templatemo_580_woox_travel/assets/images/cities-04.jpg"><h5>Santo Domingo</h5>
                                    </div>
                                <div class="img4"><img src="https://templatemo.com/templates/templatemo_580_woox_travel/assets/images/cities-01.jpg"><h5>Havana</h5>
                                    </div>
                            </div>
                        </section>
                </div>

                <div class="bestweeklyoffer"><h2>Best Weekly Offers In Each City</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
                    </div>


                    <div class="mixphoto">
                            <div class="mixphoto-1"><img src="https://templatemo.com/templates/templatemo_580_woox_travel/assets/images/offers-03.jpg" height="900px" width="700px"></div>
                                <div class="whitebox-1">
                                    <div class="whitebox1-1">
                                            <div class="whitebox1-1-1"><h1>George Town</h1>
                                                <p><i class="fa-solid fa-people-group"></i> 234 Check Ins</p>
                                            </div>
                                            <div class="whitebox1-1-2"><h1>$420</h1>
                                                                        <p>/person</p>
                                            </div>
                                    </div>
                                        <div class="mixphotoborder-1"></div>
                                    <div class="whitebox1-2">
                                        <h6>Deal Includes:</h6>
                                        <p><i class="fa-solid fa-car"></i> 5 Days Trip > Hotel Included</p>
                                        <p><i class="fa-solid fa-plane"></i> Airplane Bill Included</p>
                                        <p><i class="fa-solid fa-building"></i> Daily Places Visit</p>

                                    </div>
                                    <div class="whitebox1-3"><a href="#">Make A Reservation</a>
                                    </div>
                                </div>

                                
                                    <!--1st mix photo finish-->

                                <div class="mixphoto-2"><img src="https://templatemo.com/templates/templatemo_580_woox_travel/assets/images/offers-01.jpg" height="900px" width="700px"></div>
                                <div class="whitebox-2">
                                    <div class="whitebox2-1">
                                            <div class="whitebox2-1-1"><h1>Havana</h1>
                                                <p><i class="fa-solid fa-people-group"></i> 234 Check Ins</p>
                                            </div>
                                            <div class="whitebox2-1-2"><h1>$420</h1>
                                                                        <p>/person</p>
                                            </div>
                                    </div>
                                        <div class="mixphotoborder-1"></div>
                                    <div class="whitebox2-2">
                                        <h6>Deal Includes:</h6>
                                        <p><i class="fa-solid fa-car"></i> 5 Days Trip > Hotel Included</p>
                                        <p><i class="fa-solid fa-plane"></i> Airplane Bill Included</p>
                                        <p><i class="fa-solid fa-building"></i> Daily Places Visit</p>

                                    </div>
                                    <div class="whitebox2-3"><a href="#">Make A Reservation</a>
                                    </div>
                                </div>


                                <!--2nd mix photo finish-->

                                <div class="mixphoto-3"><img src="https://templatemo.com/templates/templatemo_580_woox_travel/assets/images/offers-02.jpg" height="900px" width="700px"></div>
                                <div class="whitebox-3">
                                    <div class="whitebox3-1">
                                            <div class="whitebox3-1-1"><h1>Kingston</h1>
                                                <p><i class="fa-solid fa-people-group"></i> 234 Check Ins</p>
                                            </div>
                                            <div class="whitebox3-1-2"><h1>$420</h1>
                                                                        <p>/person</p>
                                            </div>
                                    </div>
                                        <div class="mixphotoborder-3"></div>
                                    <div class="whitebox3-2">
                                        <h6>Deal Includes:</h6>
                                        <p><i class="fa-solid fa-car"></i> 5 Days Trip > Hotel Included</p>
                                        <p><i class="fa-solid fa-plane"></i> Airplane Bill Included</p>
                                        <p><i class="fa-solid fa-building"></i> Daily Places Visit</p>

                                    </div>
                                    <div class="whitebox3-3"><a href="#">Make A Reservation</a>
                                    </div>
                                </div>
                               
                               </div>

                                <div class="arrow">
                                    <div><a href="#"><i class="fa-solid fa-arrow-left"></i></a>
                                        </div>
                                    <div><a href="#"><i class="fa-solid fa-arrow-right"></i></a>
                                        </div>
                                    </div>
                                <!--3rd mix photo finish-->
                                <div class="mainborder"></div>

                                <div class="discovermoreaboutcountry">
                                    <div class="leftsidephoto"><img src="https://templatemo.com/templates/templatemo_580_woox_travel/assets/images/about-left-image.jpg" height="1200px" width="1900px">
                                        </div>
                                    <div class="rightside">
                                        <div class="rightside-1">
                                            <h4>Discover More About Our Country</h4>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
                                            </div>
                                        <div class="rightside-2">
                                            <div class="rightside2-1"><h3>150.640 +</h3>
                                                    <p>Total Guests Yearly</p>
                                                </div>
                                            <div class="rightside2-2"><h3>175.000+</h3>
                                                    <p>Amazing Accomoditations</p>
                                                </div>
                                            </div>
                                        <div class="rightside-3">
                                            <div class="rightside3-1"><h3>12.560+</h3>
                                                    <p>Amazing Places</p>
                                                </div>
                                            <div class="rightside3-2"><h3>240.580+</h3>
                                                    <p>Different Check-ins Yearly</p>
                                                </div>
                                            </div>
                                        <div class="rightside-4"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
                                            </div>
                                        <div class="rightside-5"><a href="#">Discover More</a>
                                            </div>
                                    
                                        </div>
                                    </div>
                            <div class="mainborder2"></div>
                                    <div class="bestlocation"><h2>Best Locations In Caribbeans</h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
                                        </div>


                            <div class="animathionicon">
                                   <div class="redline">
                                    <div class="iconpart-1">
                                        <div class="icon1"><i class="fa-sharp-duotone fa-solid fa-users-viewfinder"></i> 
                                            </div>
                                        <div class="icontext"><h1>Havana</h1><p>Population:2M</p>
                                            </div>
                                    </div>
                                        <div class="iconpart-2">
                                        <div class="icon2"><i class="fa-sharp-duotone fa-solid fa-users-viewfinder"></i> 
                                            </div>
                                        <div class="icon3"><i class="fa-sharp-duotone fa-solid fa-users-viewfinder"></i> 
                                            </div>
                                        <div class="icon4"><i class="fa-sharp-duotone fa-solid fa-users-viewfinder"></i> 
                                            </div>
                                        </div>
                                    </div>

                                    <section><a href="#">Discover All Places</a>
                                        </section>
                                    
                            </div>
                        

                    <footer class="footer">
                    <div class="footer1">
                        <div><h1>ARE YOU LOOKING TO TRAVEL ?</h1>
                        <p>Make A Reservation By Clicking The Button</p></div>
                        <div class="book"><a href="">Book Yours Now</a></div>
                    </div>
                        <div class="footer2">
                            <p>Copyright © 2036 <a href="">WoOx Travel</a> Company. All rights reserved.</p>
                                <p>Design: <a href="">TemplateMo</a></p>
                            </div>
                    </footer>

            </div>
            <body>
    </html>