<html>
    <head>
        <title>My Project
            </title>
            <link rel="stylesheet" href="/final/assets/css/style.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
            <style>
                header
                {
                    width: 5027;
                    position: sticky;
                }
                </style>
        </head>
        <body>
            <div class="container">
                <header>

            <div class="logo">
                    <img src="/final/assets/images/logo.png" height="200px" width="700px">
            </div>
                <div class="menu">
                <ul>
                    <li><a href="/final/assets/template/index.html">Home</a></li>
                    <li><a href="/final/assets/template/about.html">About</a></li>
                    <li><hr width="100px"><a href="/final/assets/template/deals.html">Deals</a></li>
                    <li><a href="/final/assets/template/reservation.html">Reservation</a></li>
                    <li><a href="/final/assets/template/reservation.html">Book Yours</a></li>
                    </ul>
                </div>
                </header>
                <div class="image">
                    <section class="imagecontant">
                    <h2>Discover Our Weekly Offers</h2>
                    <h1>Amazing Prices & More</h1>
                    <a href="#">Discover More</a>
                    <section>
                    </div>

                <div class="dropdown">
                      <div class="blue">
                            <div class="part_1"><b>Sort Deals By:</b></div>
                            <div class="part_2"><select><option>Destinations</option><option>Italy</option><option>France</option><option>Switzeland</option><option>Thailand</option><option>Australia</option><option>India</option><option>Indonesia</option><option>Malasiya</option><option>Singapore</option></select>
                            </div>
                            <div class="part_3"><select><option>Price Range</option><option>$100-$250</option><option>$250-$500</option><option>$500-$1000</option><option>$1000-$2500</option><option>$2500+</option></select>
                            </div>
                            <div class="part_4"><a href="#">Search Result</a></div>
                        </div>
                    </div>


                    <div class="massage">
                            <h1>Best Weekly Offers In Each City</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                                tempor incididunt ut labore.</p>
                        </div>


                    <div class="photo_prey1">

                        <div class="prey1_1">
                                <div class="pic1_1"></div>
                                <div class="msg1">

                                    <div class="msg1_1"><p>*Limited Offer Today</p><h2>Glasgow City Lorem</h2></div><hr>
                                    <div class="msg1_2">
                                        <div><i class="fa-solid fa-clock"></i><p>5 Days</p></div>
                                        <div><i class="fa-solid fa-map"></i><p> Daily <br>Places</p></div>
                                        </div><hr>
                                    <div class="msg1_3"><p>Lorem ipsum dolor sit amet dire consectetur adipiscing elit.</p></div>
                                    <div class="msg1_4"><div class="msg1_4_4"><a href="">Make A Reservation</a></div></div>
                                
                                </div>
                                    
                                
                            
                                
                        </div>
                        <div class="prey2_1">
                            <div class="pic2_1"></div>
                                <div class="msg2">

                                    <div class="msg2_1"><p>*Today & Tomorrow Only</p><h2>Venezia Italy Ipsum</h2></div><hr>
                                    <div class="msg2_2">
                                        <div><i class="fa-solid fa-clock"></i><p>5 Days</p></div>
                                        <div><i class="fa-solid fa-map"></i><p> Daily <br>Places</p></div>
                                        </div><hr>
                                    <div class="msg2_3"><p>Lorem ipsum dolor sit amet dire consectetur adipiscing elit.</p></div>
                                    <div class="msg2_4"><div class="msg2_4_4"><a href="">Make A Reservation</a></div></div>
                                
                                </div>
                        </div>


                        <div class="prey3_1">
                             <div class="pic3_1"></div>
                                <div class="msg3">

                                    <div class="msg3_1"><p>**Undefined
                                    </p><h2>Glasgow City Lorem</h2></div><hr>
                                    <div class="msg3_2">
                                        <div><i class="fa-solid fa-clock"></i><p>5 Days</p></div>
                                        <div><i class="fa-solid fa-map"></i><p> Daily <br>Places</p></div>
                                        </div><hr>
                                    <div class="msg3_3"><p>Lorem ipsum dolor sit amet dire consectetur adipiscing elit.</p></div>
                                    <div class="msg3_4"><div class="msg3_4_4"><a href="">Make A Reservation</a></div></div>
                                
                                </div>
                        </div>


                        <div class="prey4_1">
                            <div class="pic4_1"></div>
                                <div class="msg4">

                                    <div class="msg4_1"><p>**Undefined
                                    </p><h2>Glasgow City Lorem</h2></div><hr>
                                    <div class="msg4_2">
                                        <div><i class="fa-solid fa-clock"></i><p>5 Days</p></div>
                                        <div><i class="fa-solid fa-map"></i><p> Daily <br>Places</p></div>
                                        </div><hr>
                                    <div class="msg4_3"><p>This free CSS template is provided by Template Mo <br>website..</p></div>
                                    <div class="msg4_4"><div class="msg4_4_4"><a href="">Make A Reservation</a></div></div>
                                
                                </div>
                        </div>

                    </div>


                    <div class="uptofooter">
                        <div class="uptofooter1">
                            <div class="left"><a href="#"><i class="fa-solid fa-arrow-left"></i></a></div>
                            <div class="one"><a href="#"><i class="fa-solid fa-1"></i></a></div>
                            <div class="two"><a href="#"><i class="fa-solid fa-2"></i></a></div>
                            <div class="three"><a href="#"><i class="fa-solid fa-3"></i></a></div>
                            <div class="right"><a href="#"><i class="fa-solid fa-arrow-right"></i></a></div>
                            </div>
                        </div>

                    <footer class="footer">
                    <div class="footer1">
                        <div><h1>ARE YOU LOOKING TO TRAVEL ?</h1>
                        <p>Make A Reservation By Clicking The Button</p></div>
                        <div class="book"><a href="">Book Yours Now</a></div>
                    </div>
                        <div class="footer2">
                            <p>Copyright © 2036 <a href="">WoOx Travel</a> Company. All rights reserved.</p>
                                <p>Design: <a href="">TemplateMo</a></p>
                            </div>
                    </footer>

            </div>
            <body>
    </html>