<html>
    <head>
        <title>My Project
            </title>
            <link rel="stylesheet" href=" /assets/css/style.css">
                        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

            <style>
                header
                {
                    width: 5020px;
                }
                </style>
        </head>
        <body>
            <div class="container">
                <header>

            <div class="logo">
                    <img src=" /assets/images/logo.png" height="200px" width="700px">
            </div>
                <div class="menu">
                <ul>
                    <li><a href=" /assets/template/index.html">Home</a></li>
                    <li><a href=" /assets/template/about.html">About</a></li>
                    <li><a href=" /assets/template/deals.html">Deals</a></li>
                    <li><hr width="100px"><a href=" /assets/template/reservation.html">Reservation</a></li>
                    <li><a href=" /assets/template/reservation.html">Book Yours</a></li>
                    </ul>
                </div>
                </header>
                
                <div class="background_image">
                        <div class="m1"><h6>Book Prefered Deal Here</h6></div>
                        <div class="reservation_hr"><hr></div>
                        <div class="m2"><h1>Make Your Reservation</h1></div>
                        <div class="m3"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt uttersi labore et dolore magna aliqua is ipsum suspendisse ultrices gravida</p>
                            </div>
                        <div class="more_button"><a href="#">Discover More</a></div>
                        <div class="call">
                            <div class="call1"><i class="fa-solid fa-phone"></i></div>
                            <div class="call2"><h3><b>Make a Phone Call</b></h3></div>
                            <div class="call3"><a href="#">+951 011 494 3</a></div>
                        </div>
                        <div class="email">
                            <div class="email1"><i class="fa-solid fa-envelope"></i></div>
                            <div class="email2"><h3><b>Contact Us via Email</b></h3></div>
                            <div class="email3"><a href="#">preygoti11@gamil.com</a></div>
                        </div>
                        <div class="office">
                            <div class="office1"><i class="fa-solid fa-location-pin"></i></div>
                            <div class="office2"><h3><b>Visit Our Offices</b></h3></div>
                            <div class="office3"><a href="#">24th Street North Avenue London,UK</a></div>
                        </div>
                        <div class="black_background">h</div>
                        
                        <!-- form start -->
                        <div class="map"><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d44394.995496981166!2d-80.118781!3d25.952478!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d9add4b4ac788f%3A0xe77469d09480fcdb!2sSunny%20Isles%20Beach!5e1!3m2!1sen!2sth!4v1755243092342!5m2!1sen!2sth" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>
                        
                    <!-- </div> -->
                    <div class="below_black">
                        <div class="form_reservation">

                            <div class="form_1"><b><h1>Make Your</h1></b></div>
                            <div class="form_2"><b><h1>Reservation</h1></b></div>
                            <div class="form_3"><b><h1>Through This</h1></b></div>
                            <div class="form_4"><b><h1>Form</h1></b></div>

                            <!-- <div></div> -->
                            </div>

                        <div class="form_leftside">
                            <div class="name"><b>Your Name</b><br><br><input type="text" value="Ex. Prey Goti"></div>
                            <div class="guest_no"><b>Number Of Guests</b><br><br>
                            <select>
                                <option>Ex. 3 OR 4 OR 5</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4+</option>
                            </select>
                            </div>


                        </div>

                        <div class="form_rightside">

                            <div class="phone_1"><b>Your Phone Number</b><br><br><input type="phone" value="Ex. xxx xxx xxx"  ></div>
                            <div class="date_1"><b>Check In Date</b><br><br><input type="date" ></div>
                           
                        </div>
                         <div class="form_last_part"><b>Choose Your Destination</b><br><br>
                            <select>
                                <option>ex. Switzerland, Lausanne</option>
                                    <option>Italy, Roma</option>
                                        <option>France, Paris</option>
                                            <option>Engaland, London</option>
                                            <option>Switzerland, Lausanne</option>
                            </select>
                            <div class="form_button"><a href="#">Make Your Reservation Now</a></div>
                            </div>



                       










                    <footer class="footer">
                    <!-- <div class="footer1">
                        <div><h1>ARE YOU LOOKING TO TRAVEL ?</h1>
                        <p>Make A Reservation By Clicking The Button</p></div>
                        <div class="book"><a href="">Book Yours Now</a></div>
                    </div> -->
                        <div class="footer2_reservation">
                            <p>Copyright © 2036 <a href="">WoOx Travel</a> Company. All rights reserved.</p>
                                <p>Design: <a href="">TemplateMo</a></p>
                            </div>
                    </footer>

            </div>
            <body>
    </html>